<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add
      name="StoreDatabase"
      connectionString="Data Source=751FJW2;Initial Catalog=StoreDatabase;Integrated Security=True;TrustServerCertificate=True"
      providerName="Microsoft.Data.SqlClient"
      />
    <!--the name can be whatever i want :)-->

  </connectionStrings>
</configuration>